<!DOCTYPE html>
<style>
    html body {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: 0;
    }
</style>
<html lang=""><head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0/angular-material.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0/angular-material.js"></script>
   <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/110131/responsive.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script src=""></script>
   <title>Max C</title>
</head>
<body>
  <div id="bar">
  </div>
<div id="cssmenu">
<ul>
   <li><a href="index.html"><span>Home</span></a></li>
   <li><a href="products.html"><span>Products</span></a></li>
   <li class="active"><a href="about.html"><span>About me</span></a></li>
   <li class="last"><a href="contact.html"><span>Contact</span></a></li>
</ul>
</div>
<br>
<br>
<section class="aboutArea commonSection">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 text-left wow zoomIn animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: zoomIn;">
                            <div class="aboutImg">
                                <img alt="" src="css/images/hex.png">
                            </div>
                            <div class="about"><p>
                              Born in bay area. An lover of computer science and entrepreneurship.
                            </p>
                          </div>
                            <ul class="featuresList">
                                <li>Love to learn</li>
                                <li>Hardworker that motivates others</li>
                                <li>Ambitious</li>
                            </ul>
                        </div>
                        <div class="about-expand">
                        <div class="col-lg-6 col-sm-6 col-xs-12 text-left wow zoomIn animated" data-wow-duration="700ms" data-wow-delay="350ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 350ms; animation-name: zoomIn;">
                            <div class="panel-group myAccordion" id="accordion" role="tablist">
                                <div class="panel panel-default"><h1>&zwnj;&zwnj;&zwnj;&zwnj; Hobbies And Interests </h1>
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                Front End Development
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>
                                                Experienced in HTML,CSS,and JS
                                            </p>
                                            <p>
                                              Frameworks/librarys I am experiened in:
                                            </p>
                                            <p>
                                              Angularjs,
                                            </p>
                                            <p>
                                              Bootstrap,
                                            </p>
                                            <p>
                                              jQuery
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Video Editing
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started video editing since 2012
                                            </p>
                                            <p>
                                              Programs I am experiend in:
                                              After Effects
                                              Sony Vegas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                                Entrepreneur
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              I started becoming ambitious and proactive in my senior year of highschool.
                                            </p>
                                            <p>
                                              I found out I love making things and I love to learn. I realized that entrepuernership is perfect for me.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                                Cars
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started to love cars when I was child
                                            </p>
                                            <p>
                                              Cars always had a effect on me. I absolutely love them.
                                            </p>
                                            <br>
                                            <p>
                                              My current dream car: Mitsubishi Lancer Evolution 8 and Nissan Skyline R34 GTR
                                            </p>
                                            <br>
                                            <p>
                                              Cars I would love to own: Nissan s13/s14 240sx, Toyota AE86, Nissan 300zx, Mazda RX7 FD3S, BMW E36 M3, BMW E46 M3, Audi R8, and Nissan Skyline R33 GTR.
                                            </p>
                                            <br>
                                            <p>
                                              Note: List always changes :))
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                                Learning
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started loving to learn at junior year of highschool
                                            </p>
                                            <p>
                                              I love learning. Simple as that.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                                                Hacking
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Hacking was always something I was interested in.
                                            </p>
                                            <p>
                                              I always loved the culture of hacking. You use it to learn, to explore and to exploit. Its something I am not good at but its always been a joy to read and
                                              see how they happen
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSeven">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseTwo">
                                                Social Engineering
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started reading upon social engineering in 2015
                                            </p>
                                            <p>
                                              A topic that just intersts me. I love reading about it.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingEight">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
                                                Motivation
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started motivation speaking in 2016
                                            </p>
                                            <p>
                                              I went some though tough true hardships in my life. In return I was really mature at a early age which taught me a lot of things. Lots of people say I am
                                              very motivating so I decided why not try this. We will see where it takes off.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingNine">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseTwo">
                                                Computer science
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>
                                              Started learning how to program in my junior year of highschool and fell in love in my senior year of highschool.
                                            </p>
                                            <p>
                                              I absolutely love computers. I love everything about them. Data structures, Algorithms, Hacking, Crypotgraphy, Encryption, Programming languages,
                                              Discrete mathematics, Theory, Architecture, Operating systems, Networking, Parallelism, Software Engineering, Robotics, Artificial intelligence, Machine learning(Person favorite),
                                              Databases, and just the future of it.
                                            </p>
                                            <br>
                                            <p>
                                               I love it all!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
<br>
<br>
<div class= "experience"><p> Experienced in </p> </div>
<hr>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">

    <script src="lib/angular.min.js"></script>
    <script src="JS/ngFlowGrid.js"></script>
    <script src="JS/app.js"></script>
    <style type="text/css">
    /*------------------------*/
    .flowGrid{position: relative;padding: 0;}
    .flowGrid:before,.flowGrid:after{
        content: "";
        display: table;
    }
    .flowGrid:after{
        clear:both;
    }
    .flowGridItem{ list-style: none;}
    .flowGridItem img{width:100%;}
    .flowGridColumn{
        float: left;
        padding-left: 80px;
        /* default padding-left: 10px; */
    }
    .flowGridColumn:last-of-type{
        /*padding-right: 10px;*/
    }
    header{
      background-color: #efefef;
      margin-bottom: 25px;
      height: 250px;
      text-align: center;

    }
    </style>
  </head>

  <body ng-controller="appCtrl">
    <section>
      <div class="container">
        <ul class="flowGrid" ng-flow-grid="demoGird" min-item-width="200">
          <li class="flowGridItem" ng-repeat="item in experience">
              <a href="{{item.link}}"><img ng-src="{{item.img}}"></a>
              <p>{{item.name}}</p>
              <!-- <p>{{item.desc}}</p> -->
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
<br>
<br>
<br>
<div class= "experience"><p> Employment </p> </div>
<hr>
<body ng-controller="appCtrl">
  <section>
    <div class="container">
      <ul class="flowGrid" ng-flow-grid="demoGird" min-item-width="400">
        <li class="flowGridItem" ng-repeat="employment in careers">
            <a href="{{employment.link}}"><img ng-src="{{employment.img}}"></a>
            <p>{{employment.name}}</p>
            <br>
            <p>{{employment.desc}}</p>
            <br>
            <p>{{employment.date}}</p>
            <br>
            <p>{{employment.location}}</p>
        </li>
      </ul>
    </div>
  </section>
</body>
